/* CSS declarations go here */

/* Line chart */
body { font: 12px Arial; }

path { 
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;

}

/* Bar chart */
body {
	background-color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	padding: 50px;

}

rect {
	fill: #03cbbe;
}

.carouselAddition{
	margin-bottom: 150px;
}

.carousel-inner{
	padding-left: 70px;
}

.center-cropped {
  width: 500;
  height: 350px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}