/*
Main Colors

Primary: #6ceaad
Secondary: #65EBF6
Terciary: #57D3BA
White: #ffffff


Blacks & Greys

Black: #323232
Grey: #8c8c8c
Light Grey: #e7e9ed

*/


/* Reset CSS */
html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align: baseline;
        background:transparent;
    }

    .container-fluid {
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    body {
        line-height:1;
        padding-top: 0px;
    }

    img{
        max-width: 100%;
        vertical-align: text-top;
    }

    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section { 
        display:block;
    }

    nav ul {
        list-style:none;
    }

    a {
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
        color: #ffffff;
    }

    /* change colours to suit your needs */
    ins {
        background-color:#ff9;
        color:#000;
        text-decoration:none;
    }

    /* change colours to suit your needs */
    mark {
        background-color:#ff9;
        color:#000; 
        font-style:italic;
        font-weight:bold;
    }

    del {
        text-decoration: line-through;
    }

    abbr[title], dfn[title] {
        border-bottom:1px dotted;
        cursor:help;
    }

    table {
        border-collapse:collapse;
        border-spacing:0;
    }

    /* change border colour to suit your needs */
    hr {
        display:block;
        height:1px;
        border:0;   
        border-top:1px solid #cccccc;
        margin:1em 0;
        padding:0;
    }

    input, select {
        vertical-align:middle;
    }

    a {
        text-decoration: none !important;
    }

/* Navigation bar*/
.site-header {
    background-color: rgba(108, 234, 173, .85);
}


a:hover {
    color:  #8c8c8c !important;
    text-decoration: none !important;
}

.site-header a {
    color: #fff;
    font-size: 15px;
    transition: ease-in-out color .15s;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}    

.wrapper{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
	text-decoration: none;
	float: right;
}

.logoNav {
	float: left;
}

.carousel-indicators {
    margin-right: auto;
    margin-left: auto;
}

.rowContainerHome {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.howToContainer {
    border-radius: 3px;
    /*background-color: #6ceaad;*/
}

.row-carousel {
    background-color: black;
}

.column-carousel {
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.center-cropped {
  width: inherit;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}

.whatYouCanDo {
    margin-left: auto;
    margin-right: auto;
}

.imageFit {
    margin-top: 5px;
    width: inherit;
}

.howto {
    margin-top: 50px;
    margin-bottom: 100px;
}

/*    footer    */
footer{
    width: 100%;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #323232;
    overflow: hidden;
}

footer section{
    display: block;
    width: 230px;
    margin-right: 60px;
    float: left;
}

footer section:last-child{
    margin-right: 0;
}

footer .adress{
    color: #fff;
    font-family: "aleo-regular", arial;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    float: left;
    
}

footer .adress .location{
    color: #ffffff;
    font-family: "aleo-light", arial;
    font-weight: lighter;
}

footer .adress .phone{
    font-family: "aleo-bold", arial;
    font-weight: bold;
}

footer .footer_nav ul{
    list-style: none;
}

footer .footer_nav ul li{
    display: block;
    margin-bottom: 18px;
}

footer .footer_nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: "aleo-regular", arial;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 3px;
    border-bottom: 1px solid #3b3b3b;
}

footer .footer_nav ul li a:hover{
    border-bottom: 2px solid #FFF;
}

footer .copyrights{
    padding-top: 20px;
}

footer .copyrights .footer_logo{
    margin-bottom: 0px;
    margin-left: 15px;
}

footer .copyrights p{
    color: #ffffff;
    font-family: "aleo-light", arial;
    font-size: 14px;
    font-weight: lighter;
    line-height: 32px;
    letter-spacing: 1px;
    padding-left: 15px;
}

footer .copyrights h3{
    color: #ffffff;
    font-family: "aleo-light", arial;
    font-weight: lighter;
    line-height: 32px;
    letter-spacing: 1px;
    padding-left: 15px;
}

footer .copyrights p a{
    font-family: "aleo-bold", arial;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

/* Discover Item */
.discover_item {
    border: 1px solid #e7e7e7 !important;
    margin: 4px 0 !important;
    height: 200px;
}

.discover_item_img {
    height: 70%;
    width: 100%;
    object-fit: cover !important;   
}

.discover_item_info {
    padding: 5px !important;
}

.discover_item_name {
    text-align: center !important;
    font-weight: 600;
    font-size: 0.9vw;
    color: black !important;
}


.speciesRow:hover {
    background-color: #57D3BA;
}

.speciesRowSelected{
    background-color: #57D3BA;
}

.discover_item_taxon {
    text-align: center !important;
    font-size: 0.8vw ;
    color: black !important;
}

.item_unknown {
    font-style: italic;
    color: #8c8c8c;
}

.a:hover, a:visited, a:focus {
    text-decoration: none !important;
    color: black !important;

}

#tabGallery a {
    color: black;
}